body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
}

footer>nav>a {
    text-decoration: none;
    color: black;
}

footer>nav {
    display: flex;
    gap: 10px;
}

.bar {
    width: 60%;
    height: 1px;
    background-color: rgb(223, 223, 223);
    margin-top: 32px;
    margin-bottom: 12px;
}

footer>p {
    margin: 0px;
}
