* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.column {
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.column h2 {
  margin-bottom: 10px;
}

.recette {
  margin-bottom: 10px;
}

.recette h3 {
  margin-bottom: 5px;
}

.ingredient {
  margin-bottom: 5px;
}

.etapes {
  margin-top: 10px;
}

.etapes ol {
  padding-left: 20px;
}

.etapes li {
  margin-bottom: 5px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
}
footer>nav>a{
  text-decoration: none;
  color: black;
}
footer>nav{
  display: flex;
  gap: 10px;
}
.bar{
  width: 60%;
  height: 1px;
  background-color: rgb(223, 223, 223);
  margin-top: 32px;
  margin-bottom: 12px;
}
footer>p{
  margin: 0px;
}
.recetteX{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}